.sell-tab {
  font-size: 22px;
  height: 160px;
  width: 160px;
  position: fixed;
  bottom: 32px;
  right: 32px;
  text-align: center;
  z-index: 2;
  cursor: pointer;

  &__box {
    width: 160px;
    height: 160px;
    background-color: rgb(234, 53, 45);
    border-radius: 50%;

    &--text {
      font-size: 22px;
      color: $header-icon;
      padding-top: 32px;
    }
    
    &--logo {
      font-size: 58px;
      color: $header-icon;
    }
  }
  a.sell-tab__box__text{
    color: $header-icon;
  }
}